.tooltp {
  position: absolute;
  background: rgb(240, 173, 207);
  border-bottom: 0;
  float: right;
  width: 0px;
  right: 60px;
 padding: 10px 0px;
margin: -5px;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
  overflow: hidden;
}
.lnk_usr:hover .tooltp{
overflow: hidden;
display: block;
right: 60px;
width: 100px;
}
.instagramLogoSmall {
  width: 18px;
  height: 18px;
 }

 .modelAvatar {
  width: 200px;
  height: 200px;
  padding: 2px;
 }


