<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<ul class="list-group">
  <li class="list-group-item" *ngIf="models && models.length > 0">
    <div class="container" *ngFor="let model of models">
      <div class="row">
        <div class="profile-head">
          <div class="profiles container thumbnail">
            <div class="col-md-2 col-sm-3 col-xs-5">
              <div class="row">
                <img src={{model.avatar}} class="modelAvatar" />

              </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-9">
              <div class="row">
                <div class="col-sm-12">
                  <h4>{{model.appName}}<p><img src="/assets/images/ig-logo-email.png" class="instagramLogoSmall" />
                    <span> {{model.instagramFollowers | number:'1.0-2'}}</span></p></h4>
                  <hr />
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6">
                  <p>Age: {{modelAge(model)}}</p>
                  <p>Height: {{model.height}} cm</p>
                  <p>Weight: {{model.weight}} kg</p>
                  <p>Eyes color: {{model.eyesColor}}</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <p>Dress size: {{model.dressSize}}</p>
                    <p>Cup size: {{model.cupSize}}</p>
                  <p>Hair color: {{model.hairColor}}</p>
                  <p>Hair length: {{model.hairLength}}</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                  <p>Nationality: {{model.nationality}}</p>
                  <p>Ethnic: {{model.ethnic}}</p>
                  <p>Country: {{model.country}}</p>
                  <p>City: {{model.city}}</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                  <p>{{model.description}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-3">
              <ul class="nav navbar-vertical navbar-right bg-white">
                <li><a class="lnk_usr text-dgr-link" href="#" title="More">
                    <span class="tooltp text-center">See more</span>
                    <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                  </a></li>
                <li><a class="lnk_usr text-dgr-link" href="#" title="Book">
                    <span class="tooltp text-center">Book</span>
                    <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                  </a>
                </li>
                <li><a class="lnk_usr text-dgr-link" href="#" title="Message">
                    <span class="tooltp text-center"> Message</span>
                    <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                  </a></li>
                <li><a class="lnk_usr text-dgr-link" href="#" title="Star">
                    <span class="tooltp text-center">Star!</span>
                    <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                  </a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--profile-head close-->
      </div>
    </div>


  </li>

</ul>
