<div class="row">
  <div class="col-9">
    <button class="btn btn-outline-success" (click)="addModel()">
      Add your model
    </button>
  </div>
  <div class="col-3" style="text-align: right;">
    <button class="btn btn-outline-info" (click)="populateModels()">
      POPULATE THE LIST
    </button>
  </div>
</div>
<br>
<div class="row" >
  <div class="col-3">
    <input id="search-box" [(ngModel)]="params" class="form-control mr-sm-2" />
  </div>
  <div>
    <button class="btn btn-outline-danger my-2 my-sm-0" (click)="searchModels()">
      Search
    </button>
  </div>
</div>
<br>
<table class="table table-striped table-transparent" *ngIf="models && models.length > 0" >
  <thead>
    <tr style="background-color: rgb(226, 108, 250); color: rgb(255, 253, 253);">
      <th class="text-center">Avatar</th>
      <th class="text-center">Name</th>
      <th class="text-center">City</th>
      <th class="text-center">Age</th>
      <th class="text-center">Height</th>
      <th class="text-center">Weight</th>
      <th class="text-center">Services</th>
      <th class="text-center">Rating</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let model of models; let id = index" (mouseover)="highlightRow(model)"
      [ngClass]="{'highlight' : model.id == selectedName}">
      <!-- <td class="align-middle text-center">
        {{ id + 1 }}
      </td> -->
      <td class="align-middle text-center item.selected">
        <app-models-photos (modelSelected)="modelWasSelected($event)" [model]="model" [imageUrl]='model.avatar'>
        </app-models-photos>
      </td>

      <td class="align-middle text-center">
        <a class="badge badge-info" href="{{model.instagramLink}}" target="_blank">{{ model.name }}</a>
      </td>
      <!-- <td class="align-middle text-center">
        <a class="badge badge-warning" routerLink="/models/{{ model.id }}">{{ model.name }}</a>
      </td> -->

      <td class="align-middle text-center">
        {{ model.city }}
      </td>
      <td class="align-middle text-center">
        {{ calculateAge(model) }}
      </td>
        <td class="align-middle text-center">
            {{ model.height }} cm
          </td>
      <td class="align-middle text-center">
        {{ model.weight}} kg
      </td>
      <td class="align-middle text-center">
        {{ model.services}}
      </td>
      <td class="align-middle text-center">
        <b>{{ model.rating}}</b>
      </td>
      <td class="align-middle text-center">
          <button class="btn btn-outline-success btn-block btn-sm" routerLink="/models/{{ model.id }}">
              Edit
          </button>
          <button class="btn btn-outline-danger btn-block btn-sm" (click)="deleteModelAndRefreshList(model)">
            Delete
          </button>
      </td>
    </tr>
  </tbody>
</table>
<hr />

<br>
