<!-- <nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/images/social_queens_logo.png" alt="Logo" class="logo" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/models">
          Models<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/clients">
          Clients<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" style="color: white">Menu
        </a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item active" style="align-self: center">
        <a class="nav-link waves-effect waves-light">
          1 <img src="/assets/images/envelope.png" class="iconSmall" alt="messages">
        </a>

      </li>
      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img src="/assets/images/Niko.jpg" class="rounded-circle z-depth-0 avatarSmall" alt="avatar image">
        </a>
        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
          aria-labelledby="navbarDropdownMenuLink-55">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
  </div>
</nav> -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" *ngIf="currentUser">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/images/social_queens_navbar.png" alt="Logo" class="logo" />
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button> -->

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item active" style="align-self: center">
          <a class="nav-item nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item active" style="align-self: center">
          <a class="nav-link" routerLink="/models" >
            Models<span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item active" style="align-self: center">
        <a class="nav-link" routerLink="/clients" >
          Clients<span class="sr-only">(current)</span></a>
    </li> -->
        <li class="nav-item active" style="align-self: center">
          <a href="http://www.cabala.work" target="_blank" class="nav-link">Contact</a>
        </li>
        <li class="nav-item active" style="align-self: center">
           <a class="nav-link" (click)="logout()">Logout</a>
       </li>
        <li class="nav-item active">
          <img src="/assets/images/king_icon.png" class="rounded-circle z-depth-0 avatarSmall" alt="avatar image">
          <span class="caption">{{currentUser.firstName}}</span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div [ngStyle]="{background: 'url(./assets/images/background.png'}" style="min-height: 1200px;"> -->
  <div>
    <div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <alert></alert>
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
</div>
