.logo {
  width: 80px;
  height: 80px;
}
.logoBig {
  width: 400px;
  height: 400px;
}

a, .s-link {
  color: #D58E10;
  text-decoration: none;
  cursor: pointer;
}
.avatarSmall {
  width: 60px;
  height: 60px;
}

.iconSmall {
  width: 32x;
  height: 24px;
  filter: invert(100%);
}

body,
html {
  height: 100%;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}
img {
  width: 100px;
  height: 100px;
  text-align:center;
  /* display:block; */
}



.caption {
  display: block;
  color: rgb(151, 214, 250);
  text-align: center;
  display: block;
}



