﻿<div class="col-sm-8 offset-sm-2"  *ngIf="showMainContent">
<h1>Hi {{currentUser.firstName}}!</h1>
<h4>Welcome to my demo Angular + .NET Core application </h4>
<h5>
  <br>

  Click <a routerLink="/models" style="color: rgb(1, 211, 106);" >Models</a> section to play around with some hardcoded models profiles.
  <br>
  <br>
  Click <a href="http://www.cabala.work" target="_blank" style="color: rgb(1, 211, 106);">Contact</a> to visit my personal website with contact details in case you have any questions.
    <br>
  <br>
  You can find the backend part of the app in my <a href="https://gitlab.com/Nixon94/SocialQueens" target="_blank">repository</a>.

To run it locally simply launch the code with <a href="https://hub.docker.com/_/rabbitmq" target="_blank">RabbitMQ</a>
  and <a href="https://hub.docker.com/_/mongo" target="_blank">MongoDB</a> docker images.
  <br>
  <br>
  You can <a (click)="logout()" style="color: rgb(37, 87, 226);">Logout</a> or delete your account by clicking  <button (click)="deleteUserAndLogOff(currentUser.id)" class="btn btn-outline-danger">Delete</button>
 </h5>
</div>
<div class="col-sm-8 offset-sm-2"  *ngIf="!showMainContent">
  <h1 style="text-align: center; text-transform: uppercase;">bye {{currentUser.firstName}}!</h1>
  <br>
  <div style="margin:0px auto; text-align:center;">
    <img src="./assets/images/ferwell1.gif" alt="Logo" class="rounded-circle z-depth-0 logoBig" alt="avatar image"/>
   </div>
</div>

