﻿<div class="col-sm-12 offset-sm-3 text-align:center">

  <div  style=" margin: 0 auto">
    <img src="./assets/images/social_queens_logo_with_text.png" alt="Logo" class="logoBig"/>
  </div>

  <div style="margin: 0 auto; margin-left:30px;" >
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="username">Username or Email</label>
          <input type="text" class="input" formControlName="username" class="form-control input" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password"  formControlName="password" class="form-control input" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
      </div>
      <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Login
          </button>
          <a routerLink="/register" class="btn btn-link">Register</a>
      </div>
    </form>
  </div>
</div>


