@import '~bootstrap/dist/css/bootstrap.min.css';
/*
.bg {

  background-image: url("https://i.pinimg.com/originals/fe/e1/84/fee18481df61ce4220956dc8f44d09e8.jpg");


  height: 100%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/
